html {
    font-family: Helvetica Neue;
}
.search-section {
    width: 60%;
    margin: 0 auto;
}
.form {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__input {
    font-size: 14px;
    border: none;
    border: 1px #0ad560 solid;
    margin-right: 10px;
    padding: 0 10px;
    height: 33px;
    width: 180px;
}
.form__input:focus {
    border: 1px solid grey;
}
.button {
    color: white;
    background-color:#0ad560;
    border: none;
    font-size: 12px;
    width: 100px;
    height: 35px;
}
.button:hover {
    opacity: 0.8;
}
.items-table {
    margin-top: 3%;
    width: 100%;
    border-collapse: collapse;
}
.items-table__row {
    border: 1px solid lightgray;
}
.items-table__item {
    color: black;
    padding: 8px 0 8px 5px;
}
.items-table__row:nth-child(even) {
    background-color: lightgray;
}

@media all and (max-width: 900px) {
    .page-content {
        margin: 0 auto;
        width: 90%;
    }
    .search-section {
        width: 100%;
    }

}